@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --primary-color: 255, 56, 92; /* AirBnB rojo */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.btn-primary {
  @apply bg-[#008259] text-white font-bold py-2 px-4 rounded hover:bg-[#00986c] transition-colors;
}

.card {
  @apply bg-white rounded-lg shadow-md overflow-hidden;
}

.input-field {
  @apply w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#008259];
}
